.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

*.vsix
out/
.vscodeignore
.eslintrc.json
node_modules/
tsconfig.json
